.grid{
    background: #111111;
    opacity: 0.9;
    height: 220px;
    margin-left: .2rem;
    margin-top: .2rem;
    
}

#tableblock{
    background: #111111;
     opacity: 0.9;
    height:250px;
     margin-top: 10px;
      display:none
}

#zone1{
  width: 160px;
  height: 160px;
  margin-top: -10px;
  margin-left: 20px;
  // margin-bottom: -35px;
  cursor: pointer;
 
}